html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* Set the background color to a gradient */
  background: linear-gradient(45deg, #FFA07A, #FFD700, #00BFFF, #7FFFD4, #FF69B4, #FF6347);
  /* Specify the animation properties */
  animation-name: backgroundAnimation;
  animation-duration: 50s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  background-size: 400% 400%;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.homeButton {
  background-color: #ff6b6b;
  color: #fff;
  padding: 30px 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

}

.header {
  text-align: center;
}

.startBtnDiv {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.questionButton {
  background-color: #ff6b6b;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  width: 450px;
  /* Set the width you want */
  height: 100px;
  /* Set the height you want */

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

}

.questionDiv {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  /* margin-top: 5%; */
  margin-left: 20%;
  margin-right: 20%;
  padding: 5%;
  border-radius: 10px;
}

.questionClass {
  text-align: center;
  background-color: rgb(238, 238, 238);
  padding: 1%;
  width: 100%;
  border-radius: 10px;
}

.answerButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
  margin-top: 4%;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
}

.correct {
  color: rgb(78, 138, 78);
  font-family: "Open Sans", sans-serif;

  /* margin-bottom: -20%; */
}